html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
border:0 none;
font-family:inherit;
font-size:100%;
font-style:inherit;
font-weight:inherit;
margin:0;
padding:0;
vertical-align:baseline;
}
body {
background:none repeat scroll 0 0 white;
color:#333333;
line-height:1;
}
table {
border-collapse:separate;
border-spacing:0;
}
caption, th, td {
font-weight:normal;
text-align:left;
}
blockquote:before, blockquote:after, q:before, q:after {
content:"";
}
blockquote, q {
quotes:"" "";
}
body {
font-family:Helvetica,Arial,"Lucida Grande",Verdana,sans-serif;
line-height:1.5;
}
body {
font-size:75%;
}
html > body {
font-size:12px;
}
h1, h2, h3, h4, h5, h6 {
clear:both;
color:#111111;
font-family:Helvetica,Arial,"Lucida Grande",Verdana,sans-serif;
}
h1 {
font-size:3em;
}
h2 {
font-size:2em;
}
h3 {
font-size:1.5em;
line-height:2;
}
h4 {
font-size:1.2em;
font-weight:bold;
line-height:1.25;
}
h5 {
font-size:1em;
font-weight:bold;
}
h6 {
font-size:1em;
}
p {
margin:0 0 1.5em;
text-align:justify;
}
p.last {
margin-bottom:0;
}
p img {
float:left;
margin:1.5em 1.5em 1.5em 0;
padding:0;
}
p img.top {
margin-top:0;
}
ul, ol {
margin:0 0 1.5em 1.5em;
}
ol {
list-style-type:decimal;
}
dl {
margin:1.5em 0;
}
dl dt {
font-weight:bold;
}
a {
color:#125AA7;
outline:medium none;
text-decoration:underline;
}
a:hover {
color:#000000;
}
blockquote {
color:#666666;
font-style:italic;
margin:1.5em 0 1.5em 1.5em;
}
strong {
font-weight:bold;
}
em {
font-style:italic;
}
pre {
background:none repeat scroll 0 0 #EEEEEE;
border:0.1em solid #DDDDDD;
margin-bottom:1.3em;
padding:1.5em;
}
code {
font:0.9em Monaco,monospace;
}
hr {
background:none repeat scroll 0 0 #B2CCFF;
border:medium none;
clear:both;
color:#B2CCFF;
float:none;
height:0.1em;
margin:0 0 1.4em;
width:100%;
}
* html hr {
margin:0 0 1.2em;
}
table {
border-left:0.1em solid #DDDDDD;
border-top:0.1em solid #DDDDDD;
margin-bottom:1.4em;
}
th, td {
border-bottom:0.1em solid #DDDDDD;
border-right:0.1em solid #DDDDDD;
height:1em;
padding:0.2em 0.4em;
}
th {
font-weight:bold;
}
label {
font-weight:bold;
}
textarea {
height:180px;
width:300px;
}
p.small {
font-size:0.8em;
line-height:1.875em;
margin-bottom:1.875em;
}
p.large {
font-size:1.2em;
line-height:2.5em;
}
p.quiet {
color:#666666;
}
.hide {
display:none;
}
.alt {
color:#666666;
font-family:"Warnock Pro","Goudy Old Style","Palatino","Book Antiqua",serif;
font-size:1.2em;
font-style:italic;
line-height:1%;
}
.dquo {
margin-left:-0.7em;
}
p.incr, .incr p {
font-size:0.83333em;
line-height:1.44em;
margin-bottom:1.8em;
}
body {
margin:0;
text-align:center;
}
.container {
margin:0 auto;
padding:0;
position:relative;
text-align:left;
width:960px;
}
.column {
float:left;
margin:0 10px;
padding:0;
}
* html .column {
overflow-x:hidden;
}
.border {
border-right:1px solid #DDDDDD;
margin-right:0;
padding-right:9px;
}
.first {
margin-left:0;
}
.last {
margin-right:0;
}
.span-1 {
width:50px;
}
.span-2 {
width:120px;
}
.span-3 {
width:190px;
}
.span-4 {
width:260px;
}
.span-5 {
width:330px;
}
.span-6 {
width:400px;
}
.span-7 {
width:470px;
}
.span-8 {
width:540px;
}
.span-9 {
width:610px;
}
.span-10 {
width:680px;
}
.span-11 {
width:750px;
}
.span-12 {
width:820px;
}
.span-13 {
width:890px;
}
.span-14 {
margin:0;
width:960px;
}
.append-1 {
padding-right:70px;
}
.append-2 {
padding-right:140px;
}
.append-3 {
padding-right:210px;
}
.append-4 {
padding-right:280px;
}
.append-5 {
padding-right:350px;
}
.append-6 {
padding-right:420px;
}
.append-7 {
padding-right:490px;
}
.append-8 {
padding-right:560px;
}
.append-9 {
padding-right:630px;
}
.append-10 {
padding-right:700px;
}
.append-11 {
padding-right:770px;
}
.append-12 {
padding-right:840px;
}
.append-13 {
padding-right:910px;
}
.prepend-1 {
padding-left:70px;
}
.prepend-2 {
padding-left:140px;
}
.prepend-3 {
padding-left:210px;
}
.prepend-4 {
padding-left:280px;
}
.prepend-5 {
padding-left:350px;
}
.prepend-6 {
padding-left:420px;
}
.prepend-7 {
padding-left:490px;
}
.prepend-8 {
padding-left:560px;
}
.prepend-9 {
padding-left:630px;
}
.prepend-10 {
padding-left:700px;
}
.prepend-11 {
padding-left:770px;
}
.prepend-12 {
padding-left:840px;
}
.prepend-13 {
padding-left:910px;
}
.box {
background:none repeat scroll 0 0 #F0F0F0;
margin-bottom:1.5em;
padding:1.5em;
}
.clear {
display:inline-block;
}
.clear:after, .container:after {
clear:both;
content:".";
display:block;
height:0;
visibility:hidden;
}
* html .clear {
height:1%;
}
.clear {
display:block;
}
img {
margin:0 0 1.5em;
}
.pull-1 {
margin-left:-70px;
}
.pull-2 {
margin-left:-140px;
}
.pull-3 {
margin-left:-210px;
}
.push-0 {
float:right;
margin:0 0 0 1.5em;
}
.push-1 {
float:right;
margin:0 -88px 0 1.5em;
}
.push-2 {
float:right;
margin:0 -158px 0 1.5em;
}
.push-3 {
float:right;
margin:0 -228px 0 1.5em;
}
a.button, button {
background-color:#F5F5F5;
border-color:#EEEEEE #DEDEDE #DEDEDE #EEEEEE;
border-right:0.1em solid #DEDEDE;
border-style:solid;
border-width:0.1em;
color:#565656;
cursor:pointer;
display:block;
float:left;
font:100% "Lucida Grande",Tahoma,Arial,Verdana,sans-serif;
margin:0 0.583em 0.667em 0;
padding:5px 10px 6px 7px;
text-decoration:none;
}
button {
overflow:visible;
padding:4px 10px 3px 7px;
width:auto;
}
button[type] {
line-height:17px;
padding:5px 10px 5px 7px;
}
:first-child + html button[type] {
padding:4px 10px 3px 7px;
}
button img, a.button img {
border:medium none;
height:16px;
margin:0 3px -3px 0 !important;
padding:0;
width:16px;
}
button:hover, a.button:hover {
background-color:#DFF4FF;
border:0.1em solid #C2E1EF;
color:#336699;
}
a.button:active {
background-color:#6299C5;
border:1px solid #6299C5;
color:#FFFFFF;
}
.positive {
color:#529214;
}
a.positive:hover, button.positive:hover {
background-color:#E6EFC2;
border:0.1em solid #C6D880;
color:#529214;
}
a.positive:active {
background-color:#529214;
border:0.1em solid #529214;
color:#FFFFFF;
}
.negative {
color:#D12F19;
}
a.negative:hover, button.negative:hover {
background:none repeat scroll 0 0 #FBE3E4;
border:0.1em solid #FBC2C4;
}
a.negative:active {
background-color:#D12F19;
border:0.1em solid #D12F19;
color:#FFFFFF;
}
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head profile="http://gmpg.org/xfn/11">
</head>
<body>
</body>
</html>